<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    {% style "/bootstrap/css/bootstrap.min.css" %}
    {% style "/css/styles.css" %}
</head>

<body>
<div class="header">
 <div class="navbar navbar-inverse navbar-fixed-top Project-Navbar" role="navigation">
      <div class="container">
        <div class="navbar-brand">Digest</div>
          <ul class="nav navbar-nav">
              <li><a href="/main">MAIN</a></li>
              <li><a href="/auth">LOGIN</a></li>
              <li><a href="/signup">SIGN UP</a></li>
              {% if session.admin %}
              <li><a href="/admin">ADMIN</a></li>
              {% endif %}
              {% if session.user_id %}
              <li><a href="/logout">logout</a></li>
              {% endif %}
          </ul>
      </div>
  </div>
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
</div>

{% script "/js/jquery.min.js" %}
{% script "/bootstrap/js/bootstrap.min.js" %}
</body>