{% extends "base.html" %}
{% block content %}
    <span class="error-message">{{not-auth}}</span>
    {% if session.admin %}
        <a href="/post/add" style="margin: 10px;" class="btn btn-primary">add post</a>
    {% endif %}
    {% for item in posts %}
        <div class="post row">
            <div class="col-md-10">
                <h3><a href="/post/{{item.id}}">{{item.name}}</a></h3>
                <span class="date">{{item.creation_date}}</span>
                <p>{{item.description}}</p>
            </div>
            <div class="col-md-2">
                {% if session.admin %}
                  <a class="btn btn-success manage-button" href="/post/{{item.id}}/edit">edit</a>
                  <a class="btn btn-danger manage-button" href="/post/{{item.id}}/delete">delete</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}